@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


$font: 'Quicksand', sans-serif;

$color-primary: #f15d45;
$color-secondary: #78CBBF;
$color-detail: #48484a;

$color-light: #ffffff;
$color-dark: #000000;
$color-grey: #f2f2f2;

$color-button: #303035;
$color-text-disabled: #757575;
