@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.seeker {
    width: 80%;
    height: 400px;
    margin: 100px auto;
    border-radius: 20px;
    background-color: #f2f2f2;
}

.seeker-wrap {
    padding: 50px 20px;
}

.seeker-title {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    color: #f15d45;
}

.form-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrap input {
    width: 90%;
    height: 50px;
    outline: none;
    border: none;
    padding: 0 20px;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
}

.form-wrap input::placeholder, .form-wrap input:focus {
    font-size: 20px;
}

.seeker-wrap a {
    width: 300px;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #48484a;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

.seeker-wrap a:active {
    background-color: #303035;
    color: rgb(177, 174, 174);
}

.header-weather-detail, .main-weather-detail {
    width: 100%;
    display: none;
}

.header-weather-detail {
    background-color: #f2f2f2;
}

.title-brand, .header-wrap, .head-wrap, .body-wrap {
    width: 800px;
    margin: auto;
}



.head-wrap {
    margin: auto;
}