@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
.title-brand, .head-wrap, .body-wrap {
  width: 800px;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .title-brand, .head-wrap, .body-wrap {
    max-width: 720px;
  }
}

@media only screen and (max-width: 425px) {
  .title-brand, .head-wrap, .body-wrap {
    max-width: 90%;
  }
}

.city-title {
  margin-bottom: 2px;
  margin-left: -5px;
  margin-top: 30px;
  font-size: 50px;
}

.coordinates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coordinates .latitude, .coordinates .longitude {
  margin: 0 10px 0 0;
  padding: 0;
  font-size: 18px;
  font-weight: 300;
  color: #f15d45;
}

.weather-resum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-resum p {
  font-size: 50px;
}

@media only screen and (max-width: 375px) {
  .weather-resum img {
    width: 50%;
  }
  .weather-resum p {
    margin-left: 0;
    font-size: 40px;
  }
}

.temperature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.temperature-list li {
  padding-right: 10px;
  font-size: 20px;
}

.temperature-list li p {
  margin-top: 5px;
  font-size: 22px;
}

@media only screen and (max-width: 425px) {
  .temperature-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .temperature-list li {
    font-size: 16px;
  }
  .temperature-list li p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 375px) {
  .temperature-list li {
    font-size: 14px;
  }
  .temperature-list li p {
    font-size: 16px;
  }
}

.hours-of-light {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 22px;
}

.hours-of-light li {
  width: 100%;
  max-width: 38%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.hours-of-light li span::before {
  padding-right: 5px;
  font-size: 50px;
}

.hours-of-light li p {
  font-size: 22px;
}

@media only screen and (max-width: 425px) {
  .hours-of-light {
    width: 100%;
    font-size: 16px;
  }
  .hours-of-light li p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 375px) {
  .hours-of-light li {
    font-size: 14px;
  }
  .hours-of-light li p {
    font-size: 16px;
  }
}

.wind {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wind li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wind .wind-direction {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  text-align: center;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.wind .wind-direction span {
  font-size: 24px;
}

.wind p {
  font-size: 22px;
}

@media only screen and (max-width: 425px) {
  .wind li {
    font-size: 16px;
  }
  .wind li .wind-direction span {
    font-size: 24px;
  }
  .wind li p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 375px) {
  .wind li {
    font-size: 14px;
  }
  .wind li p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=Weather.css.map */